<h1>Update Bookmark</h1>

<form action="/update/<%=id%>?_method=PUT" method="post">

    <input id="name" type="text" placeholder="Enter name" name="name"></input>
    <input id="url" type="text" placeholder="Enter url" name="url"></input>
    <input id="desc" type="text" placeholder="Enter description" name="desc"></input>
    <input id="submit-button" type="submit" value="Update"></input>
  
    </form>